# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env

# Conda
.conda/
conda-meta/

# Jupyter
.ipynb_checkpoints/

# OS / WSL
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# PyCharm
*.iml

# Local data
data/*.db

# API keys
.env